{% extends 'base.html' %}

{% block content %}

<div class="index_main_frame">
    <a href="">
        <img class="first_post_image" srcset="{{ post.file_dir }}title_image.jpg">
        <div class="first_post">
            <article>
                <h1 class="first_article_h1">{{ post.title }} </h1>
                <p class="first_article_detail">{{ post.pub_date }} {{ post.author }}</p>
                <p class="first_article_p">{{ post.content }}</p>
            </article>
        </div>
    </a>
    
    <hr>
    
    {% for other_post in posts %}

    <div class="other_post">
        <article>
            <a href="">
                <img class="other_post_image" srcset="{{ other_post.file_dir }}title_image.jpg">
                <h1 class="other_article_h1">{{ other_post.title}}</h1>
                <p class="other_article_detail">{{ other_post.pub_date }} {{ other_post.author }}</p>
                <p class="other_article_p">{{ other_post.content }}</p>
            </a>
        </article>
    </div>

    {% endfor %}

</div>
{% endblock %}