{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/post_view.css' %}">
{% if post.file_dir != "1" %}
    <img srcset="/media/{{ post.file_dir }}">
{% endif %}
<h1> {{ post.title }} 
{% if request.user == post.author %}
<a href="/post_write/?post_info={{ post.id }}">편집</a>
{% endif %}
</h1>
<p class="first_post_detail">{{ post.author }} {{ post.pub_date }} {{ post.category }}</p>
<p class="first_post_p">{{ post.content|safe }}</p> 
<p class="first_post_p">tag : {{ post.tag }}</p> 

{% endblock %}